<section class="bg-white px overflow-none">
  <side-by-side-content
    ><picture
      ><source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=webp&amp;wid=2560&amp;hei=1434
        "
        media="(min-width: 1504px) "
        type="image/webp"
        width="2560"
        height="1434" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=jpg&amp;wid=2560&amp;hei=1434
        "
        media="(min-width: 1504px) "
        type="image/jpeg"
        width="2560"
        height="1434" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=webp&amp;wid=1504&amp;hei=842
        "
        media="(min-width: 1024px) "
        type="image/webp"
        width="1504"
        height="842" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=jpg&amp;wid=1504&amp;hei=842
        "
        media="(min-width: 1024px) "
        type="image/jpeg"
        width="1504"
        height="842" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=webp&amp;wid=1024&amp;hei=573
        "
        media="(min-width: 600px) "
        type="image/webp"
        width="1024"
        height="573" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=jpg&amp;wid=1024&amp;hei=573
        "
        media="(min-width: 600px) "
        type="image/jpeg"
        width="1024"
        height="573" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=webp&amp;wid=600&amp;hei=336
        "
        type="image/webp"
        width="600"
        height="336" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=jpg&amp;wid=600&amp;hei=336
        "
        type="image/jpeg"
        width="600"
        height="336" />
      <img
        class="cmp-image__image"
        src="https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted?wid=4000&amp;hei=3000"
        alt="BMW Accessories"
        width="4000"
        height="3000" /></picture
  ></side-by-side-content>
</section>
