<section class="bg-white px overflow-none">
  <side-by-side-content
    ><picture
      ><source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=webp&amp;wid=2560&amp;hei=1434
        "
        media="(min-width: 1504px) "
        type="image/webp"
        width="2560"
        height="1434" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=jpg&amp;wid=2560&amp;hei=1434
        "
        media="(min-width: 1504px) "
        type="image/jpeg"
        width="2560"
        height="1434" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=webp&amp;wid=1504&amp;hei=842
        "
        media="(min-width: 1024px) "
        type="image/webp"
        width="1504"
        height="842" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=jpg&amp;wid=1504&amp;hei=842
        "
        media="(min-width: 1024px) "
        type="image/jpeg"
        width="1504"
        height="842" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=webp&amp;wid=1024&amp;hei=573
        "
        media="(min-width: 600px) "
        type="image/webp"
        width="1024"
        height="573" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=jpg&amp;wid=1024&amp;hei=573
        "
        media="(min-width: 600px) "
        type="image/jpeg"
        width="1024"
        height="573" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=webp&amp;wid=600&amp;hei=336
        "
        type="image/webp"
        width="600"
        height="336" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted:16to9?fmt=jpg&amp;wid=600&amp;hei=336
        "
        type="image/jpeg"
        width="600"
        height="336" />
      <img
        class="cmp-image__image"
        src="https://bmw.scene7.com/is/image/BMW/iPad_Holder_Fitted?wid=4000&amp;hei=3000"
        alt="BMW Accessories"
        width="4000"
        height="3000" /></picture
  ></side-by-side-content>
  <side-by-side-content
    [flip]="true"
    heading="BMW Financial Services."
    subtitle="Financial Offers"
    copy="Check out a variety of BMW finance offers available across the BMW range."
  >
    <picture
      ><source
        srcset="
          https://bmw.scene7.com/is/image/BMW/DI22_000056573:16to9?fmt=webp&amp;wid=2560&amp;hei=1441
        "
        media="(min-width: 1504px) "
        type="image/webp"
        width="2560"
        height="1441" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/DI22_000056573:16to9?fmt=jpg&amp;wid=2560&amp;hei=1441
        "
        media="(min-width: 1504px) "
        type="image/jpeg"
        width="2560"
        height="1441" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/DI22_000056573:16to9?fmt=webp&amp;wid=1504&amp;hei=846
        "
        media="(min-width: 1024px) "
        type="image/webp"
        width="1504"
        height="846" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/DI22_000056573:16to9?fmt=jpg&amp;wid=1504&amp;hei=846
        "
        media="(min-width: 1024px) "
        type="image/jpeg"
        width="1504"
        height="846" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/DI22_000056573:16to9?fmt=webp&amp;wid=1024&amp;hei=576
        "
        media="(min-width: 600px) "
        type="image/webp"
        width="1024"
        height="576" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/DI22_000056573:16to9?fmt=jpg&amp;wid=1024&amp;hei=576
        "
        media="(min-width: 600px) "
        type="image/jpeg"
        width="1024"
        height="576" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/DI22_000056573:16to9?fmt=webp&amp;wid=600&amp;hei=338
        "
        type="image/webp"
        width="600"
        height="338" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/DI22_000056573:16to9?fmt=jpg&amp;wid=600&amp;hei=338
        "
        type="image/jpeg"
        width="600"
        height="338" />
      <img
        class="cmp-image__image"
        src="https://bmw.scene7.com/is/image/BMW/DI22_000056573?wid=8256&amp;hei=5504"
        alt="BMW Finance Offers"
        width="8256"
        height="5504"
    /></picture>
  </side-by-side-content>
  <p class="text-start">
    *BMW Select Offer from BMW Financial Services (South Africa) (Pty) Ltd., an
    authorised Financial Services [FSP 4623] and Registered Credit Provider
    [NCRCP 2341]. Ts & Cs apply.
  </p>
</section>
