header {
  color: var(--copy-color);
  height: 100dvh;
  width: 100vw;
}

header h2 {
  color: white;
}

/* @media (min-width: 768px) {
  header button-wrapper primary-button {
    margin-right: 1.5rem;
  }
} */

@media (min-width: 1200px) {
  header {
    align-items: start;
    height: 630px;
    padding: 1rem var(--padding-x);
  }
}

@media (min-width: 1536px) {
  header {
    height: 840px;
  }
}

@media (min-width: 1024px) {
  header button-wrapper {
    margin-top: 50px !important;
  }
}
