<header
  class="d-flex position-relative flex-column align-items-centter justify-content-end align-items-lg-start overflow-hidden pt-3 pb-0 px"
>
  <background-filter />
  <background-filter [isTopFilter]="false" class="d-none d-xl-block" />
  <background-image [isInserted]="true"
    ><picture
      ><source
        srcset="
          https://bmw.scene7.com/is/image/BMW/home-electric-promo:16to7?fmt=webp&amp;wid=2560&amp;hei=1120
        "
        media="(min-width: 1504px) "
        type="image/webp"
        width="2560"
        height="1120" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/home-electric-promo:16to7?fmt=jpg&amp;wid=2560&amp;hei=1120
        "
        media="(min-width: 1504px) "
        type="image/jpeg"
        width="2560"
        height="1120" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/home-electric-promo:16to7?fmt=webp&amp;wid=1504&amp;hei=658
        "
        media="(min-width: 1024px) "
        type="image/webp"
        width="1504"
        height="658" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/home-electric-promo:16to7?fmt=jpg&amp;wid=1504&amp;hei=658
        "
        media="(min-width: 1024px) "
        type="image/jpeg"
        width="1504"
        height="658" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/home-electric-promo:9to16?fmt=webp&amp;wid=1024&amp;hei=1820
        "
        media="(min-width: 600px) "
        type="image/webp"
        width="1024"
        height="1820" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/home-electric-promo:9to16?fmt=jpg&amp;wid=1024&amp;hei=1820
        "
        media="(min-width: 600px) "
        type="image/jpeg"
        width="1024"
        height="1820" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/home-electric-promo:9to16?fmt=webp&amp;wid=600&amp;hei=1067
        "
        type="image/webp"
        width="600"
        height="1067" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/home-electric-promo:9to16?fmt=jpg&amp;wid=600&amp;hei=1067
        "
        type="image/jpeg"
        width="600"
        height="1067" />
      <img
        class="cmp-image__image"
        src="https://bmw.scene7.com/is/image/BMW/home-electric-promo?wid=3042&amp;hei=3840"
        alt="BMW ELECTRIFIED"
        width="3042"
        height="3840" /></picture
  ></background-image>
  <h3 class="subtitle">BMW 100% ELECTRIC CARS</h3>
  <h2>STARTING FROM</h2>
  <h2>R19 799/MONTH.*</h2>
  <explore-buttons class="mt-3 mt-md-4 mt-lg-5 mb-lg-4" />
</header>
