<header>
  <background-filter />
  <background-image
    src="https://bmw.scene7.com/is/image/BMW/home-electric-promo:16to7?fmt=webp&wid=2560&hei=1120"
    alt="BMW cars"
  />
  <nav-bar style="justify-self: start" />
  <h3 class="subtitle">BMW 100% ELECTRIC CARS</h3>
  <h2>STARTING FROM</h2>
  <h2>R19 799/MONTH.*</h2>
  <button-wrapper class="button-wrapper">
    <primary-button
      [onClick]="navigateToSearchPage"
      style="margin-right: 1.5rem"
    >
      Search Available Cars
    </primary-button>
    <secondary-button [onClick]="navigateToMore">Explore More</secondary-button>
  </button-wrapper>
</header>
