<!-- <nav>
  <ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="active"
    class="nav-link d-flex flex-row"
    orientation="horizontal"
  >
    <li class="d-flex align-items-center">
      <a href="https://bmw.co.za" class="navbar-brand"
        ><img
          src="https://cloud.appwrite.io/v1/storage/buckets/64ea897682fcadc709da/files/64eb8cd5d80c1b510ec4/view?project=567&mode=admin"
          alt="BMW Logo"
          style="aspect-ratio: 1/1; width: 52px"
      /></a>
    </li>
    <li
      *ngFor="let link of links; let i = index"
      [ngbNavItem]="i"
      class="d-flex align-items-sm-center"
    >
      <a class="a" [href]="link?.href ?? '#'"
        ><span ngbNavLink class="a" style="color: white">{{
          link.name
        }}</span></a
      >
    </li>
  </ul>
</nav> -->
<!-- <div [ngbNavOutlet]="nav" class="ms-4"></div> -->

<nav
  class="navbar navbar-expand-xl navbar-light py-0 px position-absolute d-flex justify-items-center w-100 pt-3 pt-xl-0"
>
  <div class="container-fluid d-flex px-0">
    <a href="https://bmw.co.za" class="navbar-brand me-4"
      ><img
        src="https://cloud.appwrite.io/v1/storage/buckets/64ea897682fcadc709da/files/64eb8cd5d80c1b510ec4/view?project=567&mode=admin"
        alt="BMW Logo"
        style="aspect-ratio: 1/1; width: 52px"
    /></a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarBasic"
      aria-controls="navbarBasic"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarBasic">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li
          *ngFor="let link of links; let i = index"
          class="d-flex align-items-sm-center px-3"
        >
          <a class="a" [href]="link?.href ?? '#'"
            ><span class="a" style="color: white; font-size: 1rem">{{
              link.name
            }}</span></a
          >
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
