button {
  box-shadow: none !important;
}

nav {
  display: block;
  z-index: 1500;
  font-family: var(--bmw-light);
  width: 20vw;
}

nav p span {
  font-family: var(--bmw-bold);
}

nav div div a,
.nav-icon {
  border-bottom: 4px transparent solid;
}

i {
  font-size: 20px;
}

.panel {
  height: fit-content !important;
}

nav div ul {
  display: flex;
  list-style: none;
  top: 0;
  padding: 0;
  height: 85px;
  width: 83%;
}

nav div ul li {
  width: 100%;
  display: flex !important;
  align-items: stretch;
  border-bottom: 4px transparent solid;
  width: max-content;
}

nav div ul li:hover {
  border-bottom-color: var(--primary-color);
}

.border-blue:hover {
  border-bottom-color: var(--primary-color);
}

nav div ul li img {
  object-fit: contain;
}

nav div ul li a {
  display: flex;
  align-items: center;
}

nav div ul li a span {
  font-family: var(--bmw-bold);
  font-size: 1rem;
  color: white;
  /* width: max-content; */
}

.nav-icon {
  color: white !important;
}

/* .nav-icon:hover {
  color: var(--primary-effect);
} */

@media (min-width: 1200px) {
  nav div div:first-child {
    border-bottom: white solid 1px;
  }
}
