<nav #nav class="position-absolute w-100 px">
  <div
    class="navbar navbar-expand-xl navbar-light py-0 d-flex justify-items-center w-100 pt-3 pt-xl-0"
  >
    <div class="container-fluid d-flex align-items-center px-0 h-100">
      <a href="https://bmw.co.za" class="navbar-brand me-4 h-100"
        ><img
          src="https://cloud.appwrite.io/v1/storage/buckets/64ea897682fcadc709da/files/64eb8cd5d80c1b510ec4/view?project=567&mode=admin"
          alt="BMW Logo"
          style="aspect-ratio: 1/1; width: 52px"
      /></a>
      <div class="d-flex align-items-center h-100 gap-4 d-xl-none">
        <div
          class="d-flex flex-row align-items-center gap-4 text-ligh"
          style="height: 66px"
        >
          <a
            (click)="openTop(content)"
            class="nav-icon d-flex align-items-center h-100 border-blue"
            ><person-icon
              class=""
              style="
                color: white;
                border-bottom-color: var(--primary-color);
              " /></a
          ><a
            class="nav-icon d-flex align-items-center h-100 border-blue"
            href="https://www.bmw.co.za/en/shop/ls/cp/connected-drive"
            ><cart-icon /></a
          ><a
            class="nav-icon d-flex align-items-center h-100 border-blue"
            href="https://www.bmw.co.za/en/fastlane/bmw-retailer-locator.html"
            ><location-icon /></a
          ><a
            class="nav-icon d-flex align-items-center h-100 border-blue"
            href="https://www.bmw.co.za/en/publicPools/search-results/search-results.html"
            ><search-icon
          /></a>
        </div>
        <div class="h-100 pb-1">
          <button
            class="navbar-toggler border-0 px-0 h-100 d-flex align-items-center"
            style="box-shadow: none"
            type="button"
            data-bs-toggle="collapse"
            (click)="opentMobile(mobile)"
          >
            <i class="bi bi-list" style="font-size: 35px; color: white"></i>
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarBasic">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li
            *ngFor="let link of links; let i = index"
            class="d-flex align-items-sm-center px-3"
          >
            <a
              class="a"
              (click)="!link?.href ? openTop(content) : ''"
              [href]="link?.href ?? '#'"
              ><span class="a" style="color: white; font-size: 1rem">{{
                link.name
              }}</span></a
            >
          </li>
        </ul>
        <div
          class="d-flex flex-row align-items-center gap-4 text-light"
          style="height: 85px"
        >
          <a
            (click)="openTop(content)"
            class="nav-icon d-flex align-items-center h-100 border-blue"
            ><person-icon class="d-flex align-items-center h-100" /></a
          ><a
            class="nav-icon d-flex align-items-center h-100 border-blue"
            href="https://www.bmw.co.za/en/shop/ls/cp/connected-drive"
            ><cart-icon /></a
          ><a
            class="nav-icon d-flex align-items-center h-100 border-blue"
            href="https://www.bmw.co.za/en/fastlane/bmw-retailer-locator.html"
            ><location-icon /></a
          ><a
            class="nav-icon d-flex align-items-center h-100 border-blue"
            href="https://www.bmw.co.za/en/publicPools/search-results/search-results.html"
            ><search-icon
          /></a>
        </div>
      </div>
    </div>
  </div>
  <p class="d-none d-xl-block text-white text-start mt-3">
    Sheer Driving <span>Pleasure</span>
  </p>
</nav>

<ng-template #content let-offcanvas>
  <div
    class="offcanvas-header"
    [ngStyle]="{
      'padding-top.px': this.accessibleElement?.offsetHeight ?? 0 + 100
    }"
  >
    <h4 class="offcanvas-title">The Page is reponsive :) - Nkuli</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <p>Mega Menu Content</p>
    <div class="text-end"></div>
  </div>
</ng-template>

<ng-template #mobile let-offcanvas>
  <div
    class="offcanvas-header"
    [ngStyle]="{
      'margin-top.px': this.accessibleElement?.offsetHeight ?? 0
    }"
  >
    <h4 class="offcanvas-title">The Page is reponsive :) - Nkuli</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div ngbAccordion *ngFor="let link of links">
      <div ngbAccordionItem style="background-color: transparent; border: none">
        <h2
          ngbAccordionHeader
          class="bg-transparent"
          style="background-color: transparent !important"
        >
          <button
            ngbAccordionButton
            style="
              box-shadow: none;
              background-color: transparent;
              height: 20px;
              font-family: var(--bmw-bold);
              text-transform: capitalize;
              padding-left: 0px;
              padding-right: 0px;
            "
          >
            {{ link.name }}
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody class="ms-4 text-start px-0">
            <ng-template>
              <ul class="list-unstyled d-flex flex-column gap-3">
                <li *ngFor="let item of [1, 2, 3]">
                  <a
                    [href]="link.href ?? '#'"
                    class="text-decoration-none"
                    style="color: var(--copy-color)"
                    >{{ "Something " + item }}</a
                  >
                </li>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="text-end"></div>
  </div>
</ng-template>
