<section
  class="d-flex position-relative flex-column align-items-centter justify-content-end align-items-lg-start overflow-hidden py-3 pb-0 px w-100"
  style="height: 510px"
>
  <background-image [isInserted]="true"
    ><picture
      ><source
        srcset="
          https://bmw.scene7.com/is/image/BMW/ix1-4000x3000:3to1?fmt=webp&amp;wid=2560&amp;hei=853
        "
        media="(min-width: 1504px) "
        type="image/webp"
        width="2560"
        height="853" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/ix1-4000x3000:3to1?fmt=jpg&amp;wid=2560&amp;hei=853
        "
        media="(min-width: 1504px) "
        type="image/jpeg"
        width="2560"
        height="853" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/ix1-4000x3000:3to1?fmt=webp&amp;wid=1504&amp;hei=501
        "
        media="(min-width: 1024px) "
        type="image/webp"
        width="1504"
        height="501" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/ix1-4000x3000:3to1?fmt=jpg&amp;wid=1504&amp;hei=501
        "
        media="(min-width: 1024px) "
        type="image/jpeg"
        width="1504"
        height="501" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/ix1-4000x3000:4to3?fmt=webp&amp;wid=1024&amp;hei=768
        "
        media="(min-width: 600px) "
        type="image/webp"
        width="1024"
        height="768" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/ix1-4000x3000:4to3?fmt=jpg&amp;wid=1024&amp;hei=768
        "
        media="(min-width: 600px) "
        type="image/jpeg"
        width="1024"
        height="768" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/ix1-4000x3000:4to3?fmt=webp&amp;wid=600&amp;hei=450
        "
        type="image/webp"
        width="600"
        height="450" />
      <source
        srcset="
          https://bmw.scene7.com/is/image/BMW/ix1-4000x3000:4to3?fmt=jpg&amp;wid=600&amp;hei=450
        "
        type="image/jpeg"
        width="600"
        height="450" />
      <img
        class="cmp-image__image"
        src="https://bmw.scene7.com/is/image/BMW/ix1-4000x3000?wid=4000&amp;hei=3000"
        alt="iX1"
        width="4000"
        height="3000" /></picture
  ></background-image>
  <h3 class="subtitle">the new</h3>
  <h2 class="headline">iX1</h2>
  <h4 class="bigger-subtitle text-white">
    The first ever fully-electric BMW iX1.
  </h4>
  <explore-buttons class="mb-5" />
</section>
