@import "/node_modules/bootstrap-icons/font/bootstrap-icons.css";

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: BMWTypeNextProTT-Bold;
  src: url(/font/BMWTypeNextProTT-Bold.ttf);
}

@font-face {
  font-family: BMWTypeNextProTT-Light;
  src: url(/font/BMWTypeNextProTT-Light.ttf);
}

@font-face {
  font-family: BMWTypeNextProTT-Medium;
  src: url(/font/BMWTypeNextProTT-Medium.ttf);
}

@font-face {
  font-family: BMWTypeNextProTT-Regular;
  src: url(/font/BMWTypeNextProTT-Regular.ttf);
}

@font-face {
  font-family: BMWTypeNextProTT-Thin;
  src: url(/font/BMWTypeNextProTT-Thin.ttf);
}

:root {
  font-family: BMWTypeNextProTT-Light, Arial, Helvetica, Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  --padding-x: 23px;

  --bmw-light: BMWTypeNextProTT-Light;
  --bmw-bold: BMWTypeNextProTT-Bold;

  --anthracite: #262626;
  --opaque-antricite: #26262677;
  --grey-1: #4d4d4d;
  --grey-2: #666666;
  --grey-3: #8e8e8e;
  --grey-4: #e6e6e6;
  --grey-5: #f2f2f2;
  --grey-6: #f6f6f6;
  --grey-7: #4d4d4d;
  --grey-8: #e6e6e6;

  --primary-color: #1c69d4; /* blue 2 as per CI */
  --primary-effect: #0653b6; /* blue 1 as per CI */
  --light-blue: rgba(28, 105, 212, 0.3); /* blue 3 as per CI */
  --accent-blue: #1f94ff; /* blue 4 as per CI */

  --copy-color: var(--anthracite);
  --secodary-heading-color: #666;

  --danger: #d20000;
  --warning: #ffad1f;
  --success: #3db014;

  --bmw-timing: cubic-bezier(0.8, 0, 0.18, 1);
  --bmw-transition: all 1s var(--bmw-timing);

  box-sizing: border-box;

  /* --tablet: 768px; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

.a {
  font-family: BMWTypeNextProTT-Bold;
  font-weight: 700;
  font-size: 0.75rem;
  color: var(--copy-color);
  line-height: 1rem;
  text-decoration: none;
  transition: color 1s var(--bmw-timing);
}
.a:hover {
  color: var(--primary-color);
}

.px {
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}

body {
  font-family: var(--bmw-light);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: transparent;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: var(--bmw-light);
}

h2 {
  font-family: var(--bmw-light);
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5rem;
  color: var(--copy-color);
  text-transform: uppercase;
}

.headline {
  all: unset;
  font-family: var(--bmw-light);
  font-size: 6rem;
  font-weight: 300;
  line-height: 7.5rem;
  color: white;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: var(--bmw-bold);
  letter-spacing: 0.125rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--secodary-heading-color);
}

.subtitle {
  /* alternative h3. Is actually more prevelant */
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.175rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: white;
  font-family: var(--bmw-bold);
}

.bigger-subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.75rem;
}

h4 {
  color: var(--copy-color);
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 1.5rem; */
  vertical-align: bottom;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
}

p {
  font-size: 1.1rem;
  color: var(--copy-color);
  font-weight: 300;
  line-height: 1.5rem;
}

.custom-button {
  all: unset;
  background-color: var(--primary-color);
  color: #fff;
  height: 52px;
  border-radius: 3px;
  padding: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  font-family: BMWTypeNextProTT-Bold;
  line-height: 1.25rem;
  word-break: break-word;
  color: white;
  cursor: pointer;
  /* transition: var(--bmw-transition); */
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 100%;
}
.custom-button:hover {
  background-color: var(--primary-effect);
}
.custom-button:focus,
.custom-button:focus-visible {
  /* outline: 4px auto var(--light-blue); */
}

.secondary-ci-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  /* padding-left: 2rem;
  padding-right: 2rem; */
}

.secondary-ci-button:hover {
  background-color: transparent;
  border-width: 2px;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card {
  padding: 2em;
}

.background-image {
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.backgound-filter {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-image: linear-gradient(
    to bottom,
    var(--opaque-antricite) 3%,
    transparent 20%
  );
}

.button-wrapper {
  width: 100%;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* tablets */
@media (min-width: 640px) {
  .custom-button {
    /* margin-right: 1.5rem; */
    /* min-width: max-content; */
  }

  .button-wrapper {
    /* width: max-content; */
    /* min-width: 400px; */
  }
}

@media (min-width: 768px) {
  .custom-button {
    /* margin-right: 1.5rem; */
    margin-left: 0px;
  }
}

@media (min-width: 1024px) {
  :root {
    --padding-x: 3rem;
  }

  .custom-button {
    width: 263px;
    width: 206px;
    padding: 0.25rem;
    /* margin-bottom: 0.75rem; */
  }

  h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  h3 {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.175rem;
    line-height: 1.25rem;
    text-transform: uppercase;
  }
}

@media (min-width: 1200px) {
  :root {
    --padding-x: 96px;
  }

  .headline {
    font-size: 8rem;
    line-height: 7.75rem;
  }

  .bigger-subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1536px) {
  h2 {
    font-size: 4rem;
    line-height: 5rem;
  }
}

@media (min-width: 1920px) {
  .headline {
    font-size: 12rem;
    line-height: 11rem;
  }

  .bigger-subtitle {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
